.gradient-custom-3 {
    /* fallback for old browsers */
    background: #ff66c4;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, rgba(236, 25, 219, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, rgba(78, 146, 236, 0.5), rgba(244, 143, 214, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: hsl(229, 76%, 52%);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, rgb(163, 132, 250), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, rgb(252, 137, 223), rgb(118, 206, 250))
    }